---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-secrets
  namespace: {{ gitea_namespace }}
type: Opaque
stringData:
  db-password: "{{ gitea_db_password }}"
  admin-password: "{{ gitea_admin_password }}"
  smtp-password: "{{ gitea_smtp_password }}"
