---
apiVersion: v1
kind: Secret
metadata:
  name: {{ gitea_runner_secret_name }}
  namespace: {{ gitea_namespace }}
type: Opaque
stringData:
  runner-registration-token: {{ gitea_runner_registration_token }}
