---
# Elasticsearch Cluster (via ECK Operator)
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: cluster-logs
  namespace: {{ logging_namespace }}
spec:
  version: {{ elasticsearch_version }}
  nodeSets:
    - name: default
      count: {{ elasticsearch_replicas }}
      config:
        node.store.allow_mmap: false
        xpack.security.enabled: true
        xpack.monitoring.elasticsearch.collection.enabled: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                requests:
                  memory: 2Gi
                  cpu: 500m
                limits:
                  memory: 4Gi
                  cpu: 2000m
              env:
                - name: ES_JAVA_OPTS
                  value: "-Xms1g -Xmx1g"
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes: [ReadWriteOnce]
            storageClassName: {{ elasticsearch_storage_class }}
            resources:
              requests:
                storage: {{ elasticsearch_storage_size }}
