---
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-auth
  namespace: {{ rabbitmq_namespace }}
type: Opaque
stringData:
  username: "{{ rabbitmq_username }}"
  password: "{{ rabbitmq_password }}"
  erlang-cookie: "{{ rabbitmq_erlang_cookie }}"
